/* Style the rules and actions on the view/edit rules page. */
.localprofile-rule-actions {
    color: #888;
}
.localprofile-flash {
    animation-duration: 1s;
    animation-name: localprofile-flash;
}

@keyframes localprofile-flash {
    from {
        background-color: inherit;
    }
    25% {
        background-color: #468847;
    }
    50% {
        background-color: #468847;
    }
    to {
        background-color: inherit;
    }
}
.localprofile-combined {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 20px;
}
.localprofile-combined .localprofile-fieldwrapper + .localprofile-fieldwrapper .localprofile-value {
    display: none;
}
.localprofile-fieldwrapper.todelete,
.localprofile-fieldwrapper.todelete span,
.localprofile-fieldwrapper.todelete div,
.localprofile-fieldwrapper.todelete fieldset,
.localprofile-fieldwrapper.todelete label,
.localprofile-fieldwrapper.todelete select,
.localprofile-fieldwrapper.todelete input {
    color: #c38a8a;
    text-decoration: line-through solid currentColor;
}
.localprofile-fieldwrapper.todelete label.deleterule {
    color: #888;
    text-decoration: none;
}

/* Hide the mform heading on the view/edit rules page. */
form #id_hiddenheading legend {
    display: none;
}

/* Add some space to the admin page intro */
.path-admin-local-profiletheme #intro {
    margin-bottom: 1rem;
}
