.localprofile-rule-actions {
    color: #888;
}

.localprofile-flash {
    animation-duration: 1s;
    animation-name: localprofile-flash;
}
@keyframes localprofile-flash {
    from {
        background-color: inherit;
    }
    25% {
        background-color: #468847;
    }
    50% {
        background-color: #468847;
    }
    to {
        background-color: inherit;
    }
}
